/* Dasar Halaman */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #ffffff; /* Latar belakang putih polos agar bersih */
    color: #333;
}

/* Header Hijau */
.main-header {
    background-color: rgb(0, 172, 143); /* Hijau sesuai gambar */
    color: white;
    padding: 10px 10%;
    border-bottom: 5px solid #00acc1;
    text-align: center;
}

.company-name {
    font-size: 1.1em;
    margin: 0;
    opacity: 0.9;
    text-align: left;
}

.sub-header {
    font-size: 3em;
    margin: 15px 0 0 0;
    font-weight: bold;
}

/* Area Konten Tanpa Container */
.content-area {
    padding: 20px 10%; /* Memberikan jarak samping agar teks tidak nempel layar */
}

/* Judul Seksi */
.section-title {
    font-size: 1.8em;
    color: #0056b3;
   
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Teks Sasaran */
.text-large {
    font-size: 1.5em;
    line-height: 1.6;
    color: #444;
    font-style: italic;
    margin-bottom: 40px;
}

/* List Materi */
.materi-list {
    padding-left: 25px;
}

.materi-list li {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: normal;
}

.materi-list li a {
    color: #008b8b;
    text-decoration: none;
    transition: 0.3s;
}

.materi-list li a:hover {
    color: #0056b3;
    padding-left: 10px;
}

/* Tombol Gallery */
.gallery-nav {
    position: fixed;
    bottom: 30px;
    right: 50px;
}

.btn-gallery {
    background: #007bff;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Modal Styling */
.modal-overlay {
    display: none; 
    position: fixed; 
    top: 0; left: 0; width: 100%; height: 100%; 
    background: rgba(0,0,0,0.8); 
    z-index: 10000; 
    justify-content: center; 
    align-items: center;
}

.modal-box {
    background: white; 
    padding: 40px; 
    border-radius: 20px; 
    text-align: center; 
    width: 450px;
}

.modal-box input {
    width: 100%; 
    padding: 15px; 
    margin: 20px 0; 
    font-size: 1.4em; 
    text-align: center;
}

.modal-box button {
    background: #00acc1; 
    color: white; 
    border: none; 
    padding: 15px; 
    width: 100%; 
    border-radius: 10px; 
    font-size: 1.2em;
    cursor: pointer;
}

.btn-cancel {
    color: red; 
    cursor: pointer; 
    margin-top: 20px;
}